
<div class="form-group col-sm-3">
  <h1>Cadastro</h1>
  <label for="nome">Nome</label>
  <input type="text" class="form-control" id="nome"  >
</div>

<div class="form-group col-sm-3">
  <label for="e-mail">Email</label>
  <input type="email" class="form-control" id="email">
</div>

<div class="form-group col-sm-3">
  <label for="tel">Telefone</label>
  <input type="tel" class="form-control" id="tel">
</div>


<div class="form-group col-sm-3 ">
  <label><input type="checkbox">Masculino</label> 
</div>

<div class="form-group col-sm-3">
  <label><input type="checkbox">Feminino</label>
</div>


<div class="form-group col-sm-3">
  <label for="pwd">Senha</label>
  <input type="password" class="form-control" id="pwd">
</div>


<div class="form-group col-sm-3">
  <button (click)="SalvaCadastro()"class="btn btn-primary bg-dark"> Cadastrar </button>
</div>

<hr class="my-4">
<div class="form-group col-sm-3">
  <button (click)="LimpaTela()" class="btn btn-primary bg-dark"  >Limpar Tela</button>
</div>
